<div class="card card-nav-tabs card-plain">
  <div class="card-header card-header-primary">
    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs">
          <ul class="nav nav-tabs" *ngIf="user==='client'">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/client">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/client/make-order">Make order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/client/active-order">Active order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/client/order-history">History order</a>
            </li>
          </ul>
          <ul class="nav nav-tabs" *ngIf="user==='driver'">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/driver">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/driver/show-order">Show order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/driver/driver-order-history">History order</a>
            </li>
          </ul>
          <ul class="nav nav-tabs" *ngIf="user==='corporation'">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/corporation">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/corporation/drivers">Drivers List</a>
            </li>

          </ul>
          <li class="nav-item ml-auto">
            <div class="inset">
              <img src="https://image.ibb.co/ffF3QS/23756321_2088088871205083_494723355_n.jpg" class="rounded-circle">

            </div>
          </li>
          <li class="nav-item">
          <span class="navbar-text">
        {{user}}
    </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


