.angular-google-map-container {
  height: 400px;
  margin-bottom: 15px;
}

.panel-primary {
  padding: 15px;
}

agm-map {
  height: 400px;
  width: 100%;
}

.make-order-input {
  margin-left: 15px;
}
