<div class="card card-signup">
  <div class="card-header card-header-primary text-center">
    <h4>Create new order</h4>
  </div>
  <div class="card-body">
    <form #f="ngForm" *ngIf="hasActiveOrder!==true; else warning">
      <div class="row">
        <div class="col">
          <label>Start place:</label>
          <div class="input-group-text">
            <i class="material-icons">location_city</i>
            <input
              name="start"
              class="form-control make-order-input"
              placeholder="Enter location"
              ngModel
              required
              #searchFrom>
          </div>
        </div>
        <div class="col">
          <label>Destination place:</label>
          <div class="input-group-text">
            <i class="material-icons">location_city</i>
            <input
              name="destination"
              class="form-control make-order-input"
              placeholder="Enter location"
              ngModel
              required
              #searchTo>
          </div>
        </div>
      </div>
      <span class="help-block" *ngIf="!f.valid && f.touched">Both locations are required!</span>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary" (click)="getDirection()" [disabled]="!f.valid">Search</button>
          <button class="btn btn-primary" (click)="onOrderCreated()" [disabled]="!f.valid">Create order</button>
        </div>
      </div>
    </form>
    <ng-template #warning>
      <p>You already have an active order. Please cancel it if you want to make a new one!</p>
      <button class="btn btn-link btn-primary btn-lg" (click)="goToActiveOrder()">Go to active order</button>
    </ng-template>
    <agm-map [scrollwheel]="true" [zoom]="zoom">
      <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
    </agm-map>
  </div>
</div>
