/* You can add global styles to this file, and also import other style files */
.material-icons {
  padding-top: 6px;
}
.input-group {
  margin-bottom: 20px;
}
body {
  background: url(assets/img/bg2.jpg) no-repeat;
  background-size: cover;
}
a {
  cursor: pointer;
}
